{% extends "header.html" %}
{% block title %}{{ article.title|striptags }}{% endblock %}
{% block meta_block %}
{{ super() }}
  <meta name="description" content="{{article.title|striptags}}{% if article.tags %} in {% for tag in article.tags %}{{tag|lower}}{% if not loop.last %},{% endif %}{% endfor %}{% endif %}">
  {% if article.keywords %}
  <meta name="keywords" content="{{article.keywords}}" />
  {% endif %}
  {% if article.facebookimage %}
  <meta property="og:image" content="{{ article.facebookimage }}"/>
  {% endif %}
{% endblock meta_block %}
{% block canonical %}{{ SITEURL }}/{{ article.url }}{% endblock %}
{% block content %}
<article role="article" class="full-single-article">
  <div class="container">
    <div class="row">
      <div class="col-md-12 article-content">
        <h1>{{ article.title|striptags }}</h1>
        <div class="meta">
        </div>
        {{ article.content }}
        <hr class="divider-short"/>
        <!-- Disqus goes here -->
        <!-- <section>
          <h1>Comments</h1>
          <div id="disqus_thread" aria-live="polite">Disqus goes here</div>
        </section>
        -->
      </div>
    </div>
  </div>
</article>
{% endblock content %}
