{% extends "header.html" %}
{% block content %}
<div class="home-page">
  <div class="hero">
  </div>

  <div class="home-field">
    

    <div class="article-list">
      <div class="container-fluid">
        {% for article in nohtml_articles %}
          <hr class="divider-large"/>
          <!-- CONTENT GOES HERE -->
          <div class="row col-md-offset-1 col-md-10">
            <div class="col-md-offset-1 col-md-10">
              <article>
                <h2 id="introductionText">{{ article.title|striptags }}</h2>
                <div class="content">
                  {{ article.content }}
                </div>
                <span class="meta">
                  {% if article.tags %}
                  in <span class="categories">
                  {% for tag in article.tags %}
                    <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag|lower }}</a>{% if not loop.last %},{% endif %}
                  {% endfor %}
                  {% endif %}
                </span>
              </article>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}
